
div, p{
    width: 200px;
    height: 200px;
    border: solid 2px black;
    margin: 10px;

}

.cadre{
    background-image: linear-gradient(to left bottom, red, green, blue);

}

.pair{
    background-image: linear-gradient(70deg,rgb(216, 38, 136) 75%, yellow);
}

p{
    background-image: linear-gradient(to top, white 50%, black);
}

.jardin{
    background-image: radial-gradient(circle at center, rgb(77, 240, 252), pink);
}

.chien{
    background-image: repeating-radial-gradient(black ,white 10px);
}

.chien:hover{
    background-image: repeating-radial-gradient(white ,black 10px);
}







